body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #bc1616;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #bccc0e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #14e5ed;
}
